<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/app.css">
    <title>Document</title>
</head>
<body>
        <% include partials/navigation %>
    <h1> CONTACT</h1>

    <form id="contact-form" method="POST" action="/contact">
        <label for="who">Who do you want to contact?</label>
        <input type="text" name='person' value = <%= rq.person %>>
        <label for="department">Which department?</label>
        <input type="text" name="department" value = <%= rq.department %>>
        <label for="email">Your email</label>
        <input type="email" name="email">
        <input type="submit" value="submit">
    </form>
   
</body>
</html>